html, body {
    overflow-x: hidden;
}

.hero {
    position: relative;
    width: 100%;
    height: 60vh; 
    background-image: url('images/vingaardmudsigt.jpg'); 
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: flex-end; /* placer til højre */
    margin-top: 100px;
  }
  
  .hero-content {
    padding: 100px;
    max-width: 800px;
    text-align: right;
  }
  
  .hero h1 {
    font-size: 2.2rem;
    margin-bottom: 30px;
    font-family: "Poiret One", sans-serif;
    font-weight: lighter;
  }
  
  .hero p {
    font-size: 18px;
    margin-bottom: 20px;
    font-family: "Cormorant Garamond", serif;
  }
  
  #hero-button {
    display: inline-block;
    width: 150px;
    padding: 20px 20px;
    background-color: #FAECD6;
    color: #000;
    text-decoration: none;
    font-family: "Poiret One", sans-serif;
    text-align: center;
    font-size: 1.2rem;
  }

   #hero-button:hover {
    text-decoration: underline; 
  }

  #citat {
    font-family: "Poiret One", sans-serif;
    font-size: 1.4rem;
    text-align: center;
    margin: 90px 0px;
  }

  .split-container {
    display: flex;
  }
  
  .split-box {
    flex: 1;
    position: relative;
    overflow: hidden;
  }
  
  .split-box img {
    width: 100%;
    height: 500px;
    object-fit: cover;
    display: block;
  }
  
  .overlay {
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-85%, -50%);
    text-align: center;
    color: black;
  }
  
  .cta-button {
    display: inline-block;
    width: 150px;
    height: 50px;
    background-color: #FAECD6;
    color: black;
    text-decoration: none;
    font-size: 16px;
    line-height: 50px; /* Matcher knaphøjden for at centrere teksten vertikalt */
  }

  .cta-button:hover {
    text-decoration: underline; 
  }

  .card-container {
    display: flex;
    justify-content: space-between;
    padding: 0 60px; /* Luft ude i siderne */
    gap: 60px; /* Ens luft mellem bokse */
    margin-top: 90px;
  }
  
  .card {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
  }
  
  .card img {
    width: 100%;
    height: auto;
    object-fit: cover;
    display: block;
    margin-bottom: 20px;
    border: 0.5px solid #000;
  }
  
  .cta-button-card {
    padding: 10px 20px;
    background-color: #FAECD6;
    color: black;
    text-decoration: none;
    font-size: 16px;
    border: none;
    cursor: pointer;
    width: 150px;
    height: 50px;
    line-height: 30px; /* Matcher knaphøjden for at centrere teksten vertikalt */
    text-align: center;
  }

  .cta-button-card:hover {
    text-decoration: underline; 
  }

  #cta-wrapper {
    text-align: center;
    margin-top: 40px;
  }
  
  #cta-main {
    display: inline-block;
    padding: 14px 28px;
    background-color: #FAECD6;
    color: black;
    text-decoration: none;
    font-size: 20px;
    border: none;
    cursor: pointer;
    width: 350px;
    height: 70px;
    line-height: 50px; /* Matcher knaphøjden for at centrere teksten vertikalt */
    text-align: center;
  }
  
  #cta-main:hover {
    text-decoration: underline; 
  }
