.alternating-section {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.alternating-item {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
}

.item-image,
.item-content, .item-content-center {
  width: 50%; 
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

.item-image img {
  width: 100%;
  max-height: 500px;
  object-fit: contain;
  display: block;
}

.item-content, .item-content-center {
  flex-direction: column;
  background-color: #FDF7EF;
  font-family: "Poiret One", sans-serif;
}

.item-content h3, .item-content-center h3 {
  font-size: 1.5rem;
  font-weight: lighter;
  margin-bottom: 40px;
  margin-top: 40px;
}

.item-content p {
  font-size: 1rem;
  line-height: 1.6;
  margin: 0px 100px;
  margin-bottom: 70px;
}

.item-content-center p {
  font-size: 1rem;
  line-height: 1.6;
  margin: 0px 100px;
  margin-bottom: 70px;
  text-align: center;
}

.cta-btn {
  padding: 10px 20px;
  background-color: #FAECD6;
  border: none;
  cursor: pointer;
  font-family: inherit;
  width: 150px;
  height: 50px;
  font-size: 1rem;
}

.cta-btn:hover {
  text-decoration: underline;
}

.alternating-item:nth-child(even) {
  flex-direction: row-reverse; /* Byt billede og tekst for hver anden */
}


/* Tablet */
@media screen and (max-width: 768px) {
  .alternating-item {
    flex-direction: column !important;
  }

  .item-content,
  .item-content-center {
    background-color: transparent; /* sørg for at den ikke overskriver alternating-item */
  }

  .item-image,
  .item-content,
  .item-content-center {
    width: 100%;
  }

  .item-content p,
  .item-content-center p {
    margin: 0 40px 40px 40px;
  }

  .cta-btn {
    margin-bottom: 70px;
  }
}

/* Mobil */
@media screen and (max-width: 420px) {
  .item-content p,
  .item-content-center p {
    margin: 0 20px 30px 20px;
    font-size: 0.95rem;
  }

  .item-content h3,
  .item-content-center h3 {
    font-size: 1.3rem;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .cta-btn {
    width: 100%;
    max-width: 250px;
    font-size: 1rem;
    color: black;
  }

  .item-image img {
    max-height: 300px;
    object-fit: contain;
  }
}
