.contact-section {
    background-color: #FDF7EF; 
    padding: 60px 5%;
    font-family: "Poiret One", sans-serif;
    display: flex;
    justify-content: center;
  }
  
  .contact-form {
    width: 100%;
    max-width: 900px;
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
  
  .form-row {
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
    border-radius: 0;
  }
  
  .form-group {
    flex: 1;
    display: flex;
    flex-direction: column;
  }
  
  .full-width {
    flex: 1 0 100%;
  }
  
  label {
    margin-bottom: 8px;
    font-size: 1rem;
  }
  
  input,
  textarea {
    padding: 10px;
    border: 1px solid #ccc;
    font-size: 1rem;
    background-color: white;
    border-radius: 0;
  }

  select {
    padding: 10px;
    border: 1px solid #ccc;
    font-family: inherit;
    font-size: 1rem;
    background-color: white;
    appearance: none; /* Fjerner browserens default styling */
    border-radius: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url('data:image/svg+xml;utf8,<svg fill="black" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5z"/></svg>');
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 24px;
    color: black;
  }
  
  textarea {
    resize: vertical;
  }
  
  .submit-btn {
    margin-top: 10px;
    align-self: flex-start;
    padding: 10px 25px;
    background-color: #fce9da;
    border: none;
    font-family: inherit;
    font-size: 1rem;
    cursor: pointer;
    height: 50px;
    width: 150px;
    color: black;
  }
  
  .submit-btn:hover {
    text-decoration: underline;
  }

