
  .store-section {
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: "Poiret One", sans-serif;
  }
  
  .store-hero {
    position: relative;
    background-image: url('images/flaskerpaahylder.png'); 
    background-size: cover;
    background-position: center;
    height: 60vh;
    display: flex;
    align-items: flex-end;
    justify-content: center;
  }
  
  .store-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #fef5ea;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;

  }
  
  .store-box {
    flex: 1 1 50%;
    box-sizing: border-box;
    border: 0.5px solid #ccc; /* Tilføjer en grå streg rundt om boksen */
    padding: 20px;
  }
  
  .store-box h2 {
    font-size: 1.5rem;
    margin-top: 50px;
    padding: 0 100px;
    font-weight: lighter;
  }
  
  .store-box p {
    font-size: 1.1rem;
    line-height: 1.6;
    padding: 50px 100px;
  }
  
  .cta-btn {
    padding: 10px 20px;
    background-color: #fce9da;
    border: none;
    cursor: pointer;
    font-family: inherit;
    font-size: 1rem;
    width: 150px;
    height: 50px;
    margin-left: 100px;
    margin-bottom: 50px;
  }
  
  .cta-btn:hover {
    text-decoration: underline;
  }

    /* Tablet */
  @media (max-width: 768px) {
    .store-info {
      flex-direction: column;
    }

    .store-hero {
        height: 45vh;
      }
  
    .store-box h2 {
      padding: 0px 10px 10px 10px;
      font-size: 1.2rem;
      text-align: center;
    }
  
    .store-box p {
      padding: 10px 20px;
      font-size: 1rem;
      line-height: 1.7;
      margin-bottom: 20px;
    }
  
    .cta-btn {
      display: block;
      margin: 10px auto;
      margin-bottom: 50px;
    }
  }

    /* Mobil */
  @media (max-width: 420px) {
    .store-box {
      padding: 15px 20px;
    }

    .store-hero {
        height: 30vh;
      }
  
    .store-box h2 {
      font-size: 1.3rem;
    }
  
    .store-box p {
      font-size: 1rem;
      padding: 10px 0;
    }
  
    .cta-btn {
      font-size: 0.95rem;
      width: 50%;
      height: 45px;
      color: black;
    }
  }